@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins;
    }
}

@font-face {
    font-family: MontserratBold;
    src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MontserratLight;
    src: url("assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsBold;
    src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsItalic;
    src: url("assets/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsLight;
    src: url("assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: CourierPrime;
    src: url("assets/fonts/CourierPrime-Regular.ttf") format("truetype");
}

.loading-indicator:before {
    content: '';
    background: #00000080;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .loading-indicator:after {
    content: ' ';
    position: fixed;
    top: 40%;
    left: 45%;
    z-index: 10010;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:1.2rem;        
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0474bf; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}